@using Lesson3.WebApplication.Models
@model Product

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<p>
    Id: <label>@Model.Id</label>
</p>

<br />

<p>
    Name: <label>@Model.Name</label>
</p>

<br />

<p>
    Price: <label>@Model.Price</label>
</p>

<br />

