@using Lesson5_MyStore.Entities
@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<div class="panel panel-default">
    <div class="panel-body">

        @(Html.DevExtreme().DataGrid<Product>()
            .ID("product-crud-grid")
            .DataSource(d => d
                .WebApi()
                .Controller("Products")
                .LoadAction("Get")
                .InsertAction("Post")
                .UpdateAction("Put")
                .DeleteAction("Delete")
                .Key("Id")
            )
            .ShowBorders(true)
            .FilterRow(f => f.Visible(true))
            .GroupPanel(g => g
                .Visible(true))
            .Editing(e => e
                .AllowAdding(true)
                .AllowDeleting(true)
                .AllowUpdating(true)
                .Mode(GridEditMode.Popup))
            .Columns(cols =>
            {
                cols.AddFor(c => c.Id)
                    .Caption("ИД")
                    .Width(200);

                cols.AddFor(c => c.Name)
                    .Caption("Название");

                cols.AddFor(c => c.Price)
                    .Caption("Начальная цена");

                cols.AddFor(c => c.CreatedAt)
                    .Caption("Дата создания");

                cols.AddFor(c => c.CategoryId)
                    .Lookup(l => l
                        .DataSource(ds => ds
                            .WebApi()
                            .Controller("Categories")
                            .LoadAction("Get")
                            .InsertAction("Post")
                            .UpdateAction("Put")
                            .DeleteAction("Delete")
                            .Key("Id"))
                        .ValueExpr("Id")
                        .DisplayExpr("Name")
                    ).Caption("Категория");

            })

        )

    </div>
</div>