
@{
    ViewBag.Title = "Index";
}

<div>
    <a class="btn btn-primary btn-block"
       href="/Dictionaries/Employees">
        Employees
    </a>
    <a class="btn btn-primary btn-block"
       href="/Dictionaries/Categories">
        Categories
    </a>
    <a class="btn btn-primary btn-block"
       href="/Dictionaries/Products">
        Products
    </a>
</div>

